.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box img {
    width: 400;
    height: 500;
  }
  